
* {
  box-sizing:border-box;
} 
body, h1,h2,h3,h4,p,a {
  margin: 0;
}


.header {
  background-size: cover;
  background-position: center;
}

/*.header-title {
  margin:auto;
  font-size: 140px;
  color: white;
  text-transform: uppercase;
  font-weight: 500; */
}

/* .overlay {
  display:flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  */
}
.content{
  font-size: 0;
  width: 790px;
  margin:0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
}
.container{
width: 100%;
position:relative;
display:inline-block;
width: 350px;
height: 200px;
}

a {
  color:#303030;
  text-decoration: none;
  font-family: 'Mukta', sans-serif;
  font-size: 64px;
}

.menu-container{
  list-style:none;
  margin-left:0;
  padding-left:0;  
  position:absolute;
  top:1%;
  right:27%;
  margin-left:500px; 
}

.card-title{
  position: absolute;
  top: 250px;
  left: 0;
  width: 100%;
}

.container-image{
  position: relative;
  background-size: contain;
  object-fit: cover;
}
.footer{
  background-size: cover;
  background-position: center;
}

